* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Lato", sans-serif;
  background-color: #fff;
  color: #222;
  height: 100%;
  scroll-behavior: smooth;
}

header {
  background-color: #4f4f4f;
  color: #fff;
  color: #fff;
  background-image: linear-gradient(rgba(10, 10, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../images/demon-downcast.jpg");
  height: 620px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  list-style-type: none;
}
header nav li {
  padding: 15px;
}
header nav a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
}
header nav a:hover {
  color: #ebb4b7;
}
header .hero {
  height: 100%;
}
header .hero-text {
  width: 50%;
}
header .hero-text h1 {
  font-size: 40px;
  line-height: 1.1;
}
header .hero-text p {
  margin: 10px 0;
}
header .hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

footer {
  background-color: #4f4f4f;
  color: #fff;
  text-align: center;
  background-image: linear-gradient(rgba(10, 10, 0, 0.7), rgba(0, 0, 0, 0.4)), url("../images/demon-downcast.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
}
footer .footer-content {
  padding: 1rem 0;
}
footer p {
  font-weight: lighter;
}
footer a {
  text-decoration: none;
  color: #ebb4b7;
}
footer a:hover {
  color: #fff;
}

.bio {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bio img {
  height: 100%;
  width: auto;
}
.bio-text {
  max-width: 70%;
  padding: 0 3rem;
}
.bio-text p {
  margin: 10px 0;
  text-align: justify;
}

.container {
  max-width: 1024px;
  padding: 30px;
  margin: 0 auto;
  overflow: hidden;
}
.container img {
  width: 100%;
}

.works h2 {
  text-align: center;
}
.works .work-fullwidth {
  padding: 1rem 0;
}
.works .work-fullwidth .description {
  text-align: justify;
}
.works .work-fullwidth .description p {
  margin: 1rem 0;
}
.works .work-halfwidth {
  padding: 1rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.works .work-halfwidth .description {
  max-width: 40%;
  text-align: justify;
}
.works .work-halfwidth .description p {
  margin: 1rem 0;
}
.works .pad-left {
  padding-left: 3rem;
}
.works .pad-right {
  padding-right: 3rem;
}
.works .title {
  position: relative;
  top: -30px;
  left: 15px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3px;
}

@media (max-width: 700px) {
  .bio {
    display: block;
    text-align: center;
  }
  .bio img {
    max-width: 70%;
  }
  .bio-text {
    max-width: 100%;
    padding: 3rem 0 0 0;
  }

  .works .work-halfwidth {
    display: block;
  }
  .works .work-halfwidth .description {
    max-width: 100%;
    padding: 0;
  }

  .pad-left {
    padding-left: 0;
  }

  .pad-right {
    padding-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
