@media (max-width: 700px) {
  .bio {
    display: block;
    text-align: center;

    img {
      max-width: 70%;
    }

    &-text {
      max-width: 100%;
      padding: $pad 0 0 0;
    }
  }

  .works {
    .work-halfwidth {
      display: block;

      .description {
        max-width: 100%;
        padding: 0;
      }
    }
  }
}
